
input {
  width: 98%;
  height: 25px;
  border-radius: 30px;
  border: 1px gray solid;
  outline: none;
}
mat-card {
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: none !important;
}

section {
  height: 79vh;
  overflow: auto;

  background-color: green;
}
h4 {
  background-color: #f73f5b;
  padding: 5px;
  /* width: 50%; */
  /* text-align: center; */
  line-height: 25px;
  color: white;
  border-radius: 5px;
  border-bottom-left-radius: 10px;
}
