section{
    height: 100vh;
    overflow: auto;
  
    scroll-margin-block: none
}

section::-webkit-scrollbar { 
    display: none; 
}
.chat-users {
    border: solid gray 1px;
    /* background-color: #00AFF0; */

}
.chat-users :hover{
    background-color: whitesmoke;
    cursor: pointer;
}


mat-card{
    box-shadow: 1px 1px 0px 0px gray;
    border-radius: none !important;
}